<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ESN ULB Brussels - Vote{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/KhxD0v7/favicon.png" >
    {% load custom_filter %}

    <!-- My custom fonts classes -->
    <style>

        .font-title {
            font-family: 'Lexend', sans-serif;
        }

        .font-body {
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Lexend', sans-serif;
        }

        p, a, span, label, input, button {
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        body {
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

    </style>

    <style>

    </style>

</head>
<body class="font-open-sans min-h-screen flex flex-col bg-slate-50" style="height: 100vh;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <div class="bg-slate-50 pt-6 text-lg px-16">
        <div class="w-full flex flex-col md:flex-row"> <!-- Modified here -->
            <!-- Left-aligned div -->
            {% if request.session.token or request.session.admin_token %}
            <div class="md:absolute sm:relative flex items-center space-x-4 mb-2 md:mb-0 justify-start">
                <a href="{% url 'logout' %}" class="text-red-700 text-xl font-bold">Se deconnecter</a>
            </div>
            {% endif %}
        
            <!-- Center-aligned div -->
            <div class="w-40 md:mx-auto flex items-center justify-center md:mb-0"> <!-- Modified here -->
                <img src="https://i.ibb.co/QngJjCb/LOGO-NOIR-COULEUR.png" alt="ESN ULB Brussels" class="object-scale-down">
            </div>
    
        </div>        
    </div>
    

    <div class="w-full min-h-[75vh]">
        {% block content %}{% endblock %}
    </div>
    

</body>
</html>
