{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center px-6 lg:px-8">

    <div class="max-w-md w-full bg-zinc-50 shadow-md rounded-md p-6">
        <h1 class="text-2xl font-bold mb-4">ESN ULB Brussels - Admin</h1>
        <h2 class="text-lg font-semibold mb-4">Générer une clé unique</h2>

        <form method="post" class="mb-4">
            {% csrf_token %}
            <select name="session_id" class="w-full border-gray-300 rounded-md px-4 py-2 mb-2 focus:outline-none focus:border-blue-500" required>
                {% for session in sessions %}
                    <option value="{{ session.id }}">{{ session.title }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Generate a key</button>
        </form>

        {% if error %}
            <p class="text-red-500 mb-4">{{ error }}</p>
        {% endif %}

        {% if token %}
        <div class="flex flex-col space-y-4 h-40">
            <p class="text-green-600">Clé généré: </p>
            <p class="text-green-600 text-2xl">{{ token }}test</p>
            <button id="copyButton" class="w-40 flex flex-row space-x-6 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 7.5V6.108c0-1.135.845-2.098 1.976-2.192.373-.03.748-.057 1.123-.08M15.75 18H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08M15.75 18.75v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5A3.375 3.375 0 0 0 6.375 7.5H5.25m11.9-3.664A2.251 2.251 0 0 0 15 2.25h-1.5a2.251 2.251 0 0 0-2.15 1.586m5.8 0c.065.21.1.433.1.664v.75h-6V4.5c0-.231.035-.454.1-.664M6.75 7.5H4.875c-.621 0-1.125.504-1.125 1.125v12c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V16.5a9 9 0 0 0-9-9Z" />
                </svg>                  
                <span>Copier</span>
            </button>
        </div>
        <div id="copiedMessage" class="absolute text-green-600 opacity-0 transition-opacity duration-1000"
            style="margin-top: -64px;margin-left: 174px;">
            Clé copié dans le presse-papier
        </div>
        {% endif %}

        <a href="{% url 'admin_view' %}" class="mt-8 w-full bg-red-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">
            Retour
        </a>
    </div>

</div>

<script>
    // Function to copy token to clipboard
    function copyTokenToClipboard() {
        const token = "{{ token }}";
        navigator.clipboard.writeText(token)
            .then(() => {
                const copiedMessage = document.getElementById("copiedMessage");
                copiedMessage.style.opacity = 1;
                setTimeout(() => {
                    copiedMessage.style.opacity = 0;
                }, 2000); // Adjust the duration as needed
            })
            .catch(err => console.error('Could not copy text: ', err));
    }

    // Add click event listener to copy button
    document.getElementById("copyButton").addEventListener("click", copyTokenToClipboard);
</script>

{% endblock %}
